*{
    margin: 0;
    box-sizing: border-box;
    
}

body{
    display: flex;
    color: black;
}

header{
    background-color: black;
    color: white;
    width: 13%;
    height: 100vh;
}

main{
    background-color: black;
    color: white;
    width: 87%;
    height: 100vh;
    background-image: url(img_9.jpg.webp);
    background-size: 100%;
}

#startimg{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    height: 100vh;
}

#startimg p {width: 80%;}

.multimg{
    height: 40vh;
    width: 33%;
    position: relative;
    overflow: hidden;
}
.multimg img{height:100vh;
    width: 100%;
    object-fit: cover;
    transition: 1s;
}
.multimg:hover img{filter: brightness(40%);}

.imagens{
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    row-gap: 10px;
    background-color: black;
}

#testimonial{
    background-color: black;
    flex-direction: column;
    text-align: center;
    align-items: center;
    display: flex;
}

#mrman{
    width: 120%;
    height: 22vh;
}

#textolixo{
    color: grey;
    width: 50%;
}

#biografia{
    background-color: #343a40;
    color: grey;
    display: flex;
    align-items: center;
    /*justify-content: center;
    /*text-align: center;*/
    flex-direction: column;
    align-content: flex-start;
}

#biografia div{
    width: 70%;
    
}

#biografia svg{
    width: 2%;
    height: 2vh;
}

#things{
    background-color: #343a40;
    flex-direction: column;
    justify-content: space-between;
}

.multimg svg{
    height: 25px;
    width: 25px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 0;
    transition: 1s;
}
.multimg:hover svg{
    opacity: 1;
    top: 50%;
}

#special{
    position: fixed;
    height: 100vh;
    background-color: black;
    width: 13%;
    display: flex;
    flex-direction: column;
    
}
#special div{
    position: relative;
    left:18%}

.blogs{
    height: 20vh;
    width: 100%;
}

#blog{
    background-color: black;
    flex-wrap: wrap;
    flex-direction: column;
    row-gap: 30000px;
}

#blog h1{
    position: relative;
    left:20%;
}

#blog div{
    display: flex;
    position: relative;
    left:20%;
}
#blog p{
    width: 20%;
}

#blog div div{
    display: flex;
    flex-direction: column;
    position: relative;
    left:0%;
}

#numbers{
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: space-between;
}

#messagem{
    background-color: #343a40;
}
#messagem div{
    position: relative;
    left: 1%;
}
#nome{
    display: flex;
    flex-direction: row;
}
#nome div{
    display:flex;
    flex-direction: column;
}